.blink_me {
  animation: blinker 1.5s linear infinite;
  margin-left: -10px; /* this compensates the spacing between the cursor and the content before */
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

body {
  background-color: #101415 !important;
  /* background-color: black !important; */
  /* font-weight: 600; */
  color: #ececec;
  text-align: center !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

p {
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 25px;
}

div {
  color: white;
}

section {
  margin-bottom: 15rem;
}

.font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}
.sub-heading {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 300;
  margin-bottom: 3rem;
}

#hero {
  min-height: 95vh;
  margin: 0;
}

.column-image {
  margin-right: 2rem;
}


/* hero image */
.hero-img {
  min-height: 20rem;
  border-radius: 2%;
  background-size: cover;
  background-position: center;
  background-image: url("assets/hero.jpeg");
}

.image-4 {
  background-image: url("assets/candlyland-2.jpeg");
  background-size: cover;
  background-position: center;
  /* height: 400px; */
}

.subtitle {
  /* color: #e52628; */
  font-size: 0.74rem;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 3rem;
  line-height: 1.25;
}
.sub-heading.footer {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 300;
  margin-bottom: 1rem;
}

@media (max-width: 992px) {
  .column-image {
    height: 20rem;
    margin-bottom: 2rem;
  }
}
.navbar-bg-color{
  background-color: #101415 !important;
}